mixin comment(comment)
    include replyForm
    div.comment
        div.comment-header
            div.comment-author= comment.author_name
            div.comment-time= comment.commentedAgo
        if comment.is_deleted
            p [DELETED]
        else
            div.comment-body= comment.body
            if user && user.is('admin')
                a(href = `/comment/${comment.id}/delete`) Delete
        div
            h4.reply-header Replies (#{comment.replies.length})
            div.reply-container
                +replyForm(comment)
                if comment.replies.length > 0
                    ul.reply-list
                        each reply in comment.replies
                            li
                                div.comment
                                    div.comment-header
                                        div.comment-author= reply.author_name
                                        div.comment-time= reply.friendlyPublishedDate
                                    if reply.is_deleted
                                        p [DELETED]
                                    else
                                        div.comment-body= reply.body
                                        if user && user.is('admin')
                                            a(href = `/comment/${comment.id}/reply/${reply.id}/delete`) Delete
                else
                    p.empty-list No Replies